*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    height: 100%;
    width: 100%;
    background-color: rgb(135, 134, 134);
    padding: 30px;
    gap: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: auto;
    flex-wrap: wrap;

}

.card{

    height: 450px;
    width: 450px;
    background-color: white;
    border-radius: 5px;
    text-align: center;
    overflow: hidden;
    cursor: pointer;  
}


.part1{
    background-color: red;
    width: 100%;
    height: 125px;
    
}
.part1 img{
    height: 135px;
    width: 100%;
    object-fit: cover;
}


.part2{
    /* background-color: blue; */
    width: 100%;
    /* height: 160px; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.part2 .profilephoto{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    
    background-color: #fff;
    border: 5px solid #fff;
    overflow: hidden;
    
    

}

.part2 .profilephoto img{
    height: 100%;
    width: 100%;    
    object-fit: cover;  

}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 30px;
    
}
.content p{
    margin-top: 12px;
    margin-bottom: 10px;
    color: #6f6e6e;
}

.content h4{
    color: #969696;
    font-weight: 500
}

.content h2{
    margin-top: 5px;
    font-weight: 500;
    
}
.part3{
    margin-top: 10px;
    height: 10px;
    /* background-color: blueviolet; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.part3 .line{
    height: 2px;
    width: 80px;
    margin: 15px auto;
    background-color: #b9b8b8;
    border-radius: 1px;
}
.part4{
    height: 100%;
    width: 100%;
    /* background-color: brown; */
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 10px 25px;
    padding-bottom: 30px;
}

.part4 p{
    color: #969696;
}
